@media screen and (max-width: 1000px) {
  .banner {
    height: 400px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .images-detail{
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 0 30px;
  }
  .navbar .menu {
    right: 30px;
  }
  .container{
    padding: 0 30px;
  }
  .banner {
    height: 300px;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .images-detail{
    width: 100%;
  }
}