@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kantumruy:wght@300;400;700&family=Kdam+Thmor+Pro&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Navbar style start */

.navbar {
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
    position: relative;
}

.navbar h1 .sr {
    color: #ED5724;
}

.navbar .navbar-link-block {
    display: flex;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0 1rem;
    color: black;
}

.navbar #active {
    color: #ED5724;
}

.navbar .menu {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 50px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 1s ease-in-out;
}

.menu .line {
    width: 80%;
    height: 5px;
    background-color: #ED5724;
    transition: 0.5s ease-in-out;
}

.menu-active {
    transform: rotate(360deg);
}

.line2-active {
    opacity: 0;
}

.line1-active {
    position: absolute;
    transform: rotate(45deg);
}

.line3-active {
    position: absolute;
    transform: rotate(-45deg);
}

@media (max-width: 600px) {
    .navbar .menu {
        opacity: 1;
        pointer-events: all;
    }
    .navbar .navbar-link-block {
        display: none;
    }
}


/* Navbar style end */


/* Welcome content start */

.welcome-container {
    width: 100%;
    height: 60vh;
    background-color: red;
}


/* Welcome content end */